# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Output files
/Z-Web-Scraper_output/
*.zip

# Virtual environments
.venv/
venv/
ENV/

# OS artifacts
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
